body{
    background-color: #f9f6f3;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#particles-js{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


