@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');


.lemon-font {
  font-family: 'Lemon', cursive;
}


#navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 70px;
}

.nav-logo img{
    width: 50px;
    height: 60px;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 200px;
}

.nav-logo p{
    color: #6CB4EE;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.nav-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 25px;
    font-size: 15px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.nav-menu li a{
    text-decoration: none;
    color: #000000;
    transition: 0.1s;
}
   

.nav-menu li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #6CB4EE;
    display: block;
    transition: 0.3s linear;
    
}

.nav-menu li a:hover{
    color: #6CB4EE;
}

.nav-menu li a:hover::after{
    width: 100%;
}


/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 22px;
  z-index: 1000;
  background-color: #f5f2f2;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 10px;
}

.nav-menu li:hover > .dropdown-content {
  display: block;
  transition: 0.3s ease-in-out;
}

.dropdown-content li {
  padding: 4px;
  white-space: nowrap;
}

/* Hamburger Menu Icon Styles */
.hamburger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

/* Styles for small screens */
@media only screen and (max-width: 768px) {
  .nav-logo{
    margin-right: 450px;
}

  .nav-logo p{
    font-size: 25px;
    font-weight: 300;
  }

  .nav-menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1100;
  }

  .nav-menu.show-menu {
    display: flex;
    flex-direction: column;
    width: 28%;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #f5f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 7px;
    border-radius: 10px;
    z-index: 1200;
    gap: 15px;
  }

  .dropdown-content{
    display: block;
    position: relative;
    top: 100%;
    padding-top: 3px;
    margin: 15px;
    width: 50%;
    border-radius: 5px; 
    background-color: transparent;
  }

  .dropdown.dropdown-content {
    top: 100%;
    left: 0;
}


  .change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .change .bar:nth-child(2) {
    opacity: 0;
  }

  .change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

@media only screen and (max-width: 480px) {
  .nav-logo {
    margin-right: 300px;
  }

  .nav-logo p {
    font-size: 22px;
  }

  .nav-menu.show-menu {
    width: 28%;
    padding: 5px;
    background-color: #f5f2f2;
    gap: 7px;
    font-size: 13px;
  }
}


@media only screen and (max-width: 320px) {
  .nav-logo img{
    width: 40px;
    height: 50px;
}

.nav-logo p{
  font-size: 20px;
  font-weight: 300;
}

.nav-menu.show-menu {
  width: 28%;
  padding: 5px;
  background-color: #f5f2f2;
  gap: 7px;
  font-size: 13px;
}
}



